<h2 id="port-title">Portfolio</h2>
<div class="portfolio-layout">
  <div class="portfolio-card">
    <img
      src="img/toronto-cupcake-logo.jpg"
      alt="Toronto Cupcake Logo Thumbnail"
    />
    <h3>Toronto Cupcake Logo Design</h3>
  </div>

  <div class="portfolio-card">
    <img src="img/mpl-logo.jpg" alt="Maplebrook Public Library Thumbnail" />
    <h3>Maplebrook Library Logo Design</h3>
  </div>

  <div class="portfolio-card">
    <img src="img/zengarden.jpg" alt="CSS Zen Garden Thumbnail" />
    <h3>CSS Zen Garden</h3>
  </div>

  <div class="portfolio-card">
    <img src="img/tulips.jpg" alt="Tulip Thumbnail" />
    <h3>Tulip Festival Poster</h3>
  </div>

  <div class="portfolio-card">
    <img src="img/postcard.jpg" alt="Postcard Thumbnail" />
    <h3>Personal Postcard Ad</h3>
  </div>

  <div class="portfolio-card">
    <img src="img/typo-poster.jpg" alt="Typographic Poster Thumbnail" />
    <h3>Typographic Poster</h3>
  </div>
</div>
